@{
    ViewBag.Title = "Contact Me";
}
<h1>Contact Me</h1>
<div class="contact-page-content">
    <p>I hope this website has been insightful for any prospective employer or anyone looking to make an online portfolio of their own.</p>
    <p>Feel free to reach out to me using the email link and I will get back to you as soon as possible.</p>
</div>
<div class="email-link">
    <a href="mailto:arucker1021@gmail.com">Email Me</a>
</div>