@{
    ViewBag.Title = "Places I Have Worked";
}
<h1>Work History</h1>
<p class="underscore">This is a list of all the places I have worked with descriptions of what I did while there.</p>

<article>
    <div class="work-card">
        <div class="card-header"><h2 aria-label="Employer">Microsoft Vendor (Collabera)</h2></div>
        <div class="card-image">
            <img src="~/Content/images/micrsoft.png" alt="Microsoft Logo" />
        </div>
        <div class="card-content">
            <h3 aria-label="Job Title">Software Design Engineer <span aria-hidden="true">II</span><span class="sr-only">two</span></h3>
            <p class="job-dates"><span class="sr-only">From </span> August 2016 <span class="sr-only">to </span><span aria-hidden="true">-</span> Current</p>
            <p class="job-description">
                I am a front-end developer with a primary focus in the accessibility of websites.  I work accross multiple sites to insure they meet Microsoft Accessibility
                Standards as well as doing manual testing for accessibility.  I also work with designers to make sure their vision transfers perfectly to the websites.
            </p>
        </div>
    </div>
    <div class="work-card">
        <div class="card-header"><h2 aria-label="Employer">The Soft Edge Inc.</h2></div>
        <div class="card-image">
            <img src="~/Content/images/softedge.png" alt="The Soft Edge Inc." />
        </div>
        <div class="card-content">
            <h3 aria-label="Job Title">Web Developer</h3>
            <p class="job-dates"><span class="sr-only">From </span> September 2015 <span class="sr-only">to </span><span aria-hidden="true">-</span> July 2016</p>
            <p class="job-description">
                I was a full stack developer utilizing Coldfusion Java backend to update Congress Plus.  I worked on a team of 4 developer to maintain the product and implement new features 
                that adhered to the look and feel of the product.
            </p>
        </div>
    </div>
    <div class="work-card">
        <div class="card-header"><h2 aria-label="Employer">Sapient Government Services</h2></div>
        <div class="card-image">
            <img src="~/Content/images/sapient.png" alt="Sapient Logo" />
        </div>
        <div class="card-content">
            <h3 aria-label="Job Title">Associate of Technology L2</h3>
            <p class="job-dates"><span class="sr-only">From </span> August 2016 <span class="sr-only">to </span><span aria-hidden="true">-</span> Current</p>
            <p class="job-description">
                I am a front-end developer with a primary focus in the accessibility of websites.  I work accross multiple sites to insure they meet Microsoft Accessibility
                Standards as well as doing manual testing for accessibility.  I also work with designers to make sure their vision transfers perfectly to the websites.
            </p>
        </div>
    </div>
</article>

